:root {
  --primary-color: #3498db;
  --secondary-color: #2c3e50;
  --success-color: #2ecc71;
  --primary-color: #3498db;
  --warning-color: #f39c12;
  --danger-color: #e74c3c;
  --light-color: #ecf0f1;
  --dark-color: #2c3e50;
  --accent-color: #f39c12;
}

* {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 5px;
}

/* ? Start back to top section */
/* ? End back to top section */

/* ? Start header Section */

/* ? Start navbar */
.navbar {
  background-color: var(--secondary-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
  padding: 15px 0;
  transition: all 0.3s ease;
}

/* ! navbar mar scrolleds par lar khae mal so yin di css lote */
.navbar.scrolleds {
  background-color: rgba(44, 62, 80, 0.8);
  backdrop-filter: blur(10px);
  padding: 10px 0;
}

.navbar-brand img {
  transition: transform 0.3s linear;
}

.navbar-brand img:hover {
  transform: rotate(20deg);
}

.nav-link {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 10px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #fff;
}

.nav-link::before {
  content: "";

  width: 0%;
  height: 2px;
  background: var(--primary-color);

  position: absolute;
  left: 0;
  bottom: 0;

  transition: width 0.3s ease-out;
}

.nav-link:hover::before {
  width: 100%;
}

.dropdown-item {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
}

.dropdown-item:hover {
  /* background-color: var(--primary-color); */
  background: transparent;
  border-bottom: 2px solid var(--primary-color);
  /* color: #ffffff; */
  letter-spacing: 2px;
}
/* ? End navbar */

/* ? Start banner */
/* ? End banner */

/* ? End header Section */

/* ? Start client Section */
/* ? End client Section */

/* ? Start software Section */
/* ? End software Section */

/* ? Start team Section */
/* ? End team Section */

/* ? Start public Section */
/* ? End public Section */

/* ? Start pricing Section */
/* ? End pricing Section */

/* ? Start contact Section */
/* ? End contact Section */

/* ? Start footer Section */
/* ? End footer Section */

/* ? Start Modal Box */

/* ? End Modal Box */

/* ? Start Animation for banner */

/* ? End Animation for banner */

/* ? Start Responsive Adjustments */

/* ? End Responsive Adjustments */
